<% @categories.each do |category| %>
  <strong> <%= category.title %> </strong>
  <ul>
    <% category.items.each do |item| %>
      <li><%= item.title %> | <%= "$#{item.price.to_f/100}" %></li>
    <% end %>
  </ul>
<% end %>
